/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url("../src/assets/goal1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IM Fell Double Pica', serif;
    
}

p{
    font-size:30px !important;
}